<?xml version="1.0"?>
<config>
    <modules>
        <Web_Rules>
            <version>0.1.0</version>
        </Web_Rules>
    </modules>
    <global>
        <models>
            <web_rules>
                <class>Web_Rules_Model</class>
            </web_rules>
            <salesrule>
                <rewrite>
                    <rule_condition_address>Web_Rules_Model_SalesRule_Rule_Condition_Address</rule_condition_address>
                    <validator>Web_Rules_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <web_rules>
                <class>Bww_Rules_Block</class>
            </web_rules>
        </blocks>
        <helpers>
            <web_rules>
                <class>Web_Rules_Helper</class>
            </web_rules>
        </helpers>
        <resources>
            <web_rules_setup>
                <setup>
                    <module>Web_Rules</module>
                </setup>
            </web_rules_setup>
        </resources>
    </global>
</config>